/* RESET (IMPORTANTE) */
body{
    margin: 0;
    padding: 0;
}

/* CONTAINER */
.container{
    background: black;
    color: white;
    min-height: 100vh;
}

/* HERO */
.hero{
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}

.overlayBanner{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black, transparent);
}

.heroContent{
    position: relative;
    z-index: 2;
    padding-left: 20px;
    max-width: 500px;
}

/* BOTÕES */
.buttons{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.play{
    background: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.info{
    background: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* SEÇÃO */
.section{
    padding: 20px 0;
}

.section h2{
    margin-left: 10px;
}

/* LINHA (100% TELA, SEM ESPAÇO) */
.linha{
    display: flex;
    overflow-x: auto;
}

/* REMOVE BARRA DE ROLAGEM */
.linha::-webkit-scrollbar{
    display: none;
}

/* CARD (IGUAL NETFLIX) */
.card{
    position: relative;
    flex: 0 0 16.66%; /* mantém 6 por linha */
    height: auto; /* deixa crescer */
    overflow: visible; /* IMPORTANTE pra crescer pra fora */
    transition: 1s;
}

/* IMAGEM */
.card img{
    width: 100%;
    height: auto;
    padding: 5px/* mostra a imagem inteira */
}

/* HOVER */
.card:hover{
    transform: scale(1.1);
    z-index: 5;
}

/* OVERLAY */
.overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 10px;

    opacity: 0;
    transition: 0.3s;
}

.card:hover .overlay{
    opacity: 1;
}

.footer{
    background:#a40000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:40px;
    width:100%;
}

.footerCenter{
    text-align:center;
}

.footerRight{
    text-align:right;
}